<div class="container">
  <h3 class="d-flex justify-content-center">Success !!! Please use this link:</h3>
  <div class="d-flex justify-content-center m-3">
    <p>短網址顯示處</p>
  </div>
  <div class="input-group d-flex justify-content-center">
    <button class="btn btn-info" type="button" id="button-addon2">Copy</button>
  </div>
</div>